.bar {
  height: var(--height);
  min-height: 40px;
  width: 100%;
  border-radius: 0.375rem 0.375rem 0 0;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.bar:hover {
  opacity: 1;
}

.progress-bar {
  width: var(--width);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.75rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  transition: all 0.5s;
}
