
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply font-sans text-slate-900 bg-background antialiased;
  }
}

@layer utilities {
  .progress-bar {
    width: var(--progress-width, 0%);
  }
}